* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 2rem;

  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $portfolio-font-default;

  // stylelint-disable-next-line scss/no-global-function-names
  background-color: lighten($color-bg-default, 5%);
  border-radius: 2rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.portfolio {
  max-width: $maxPageWidth;
  margin: auto;
  padding: 2rem;

  text-align: center;

  background-color: $portfolio-bg;
}

/** Native html elements default style*/
ul {
  padding-bottom: 1rem;
  list-style-type: none;
}
h2 {
  margin: 1.2rem;
}

/** Custom style classes */
.text--cursive {
  font-family: Sofia, sans-serif;
  font-size: 1.9em;
  letter-spacing: 1px;
}
.divider {
  max-width: calc(#{$maxPageWidth} - 20);
  height: 1px;
  margin: 4px auto;
  background-color: rgba(228, 224, 198, 0.6);
}
