<footer class="footer">
    <section class="contact">
        <h2 class="contact__title text--cursive">Contact Me</h2>
        <ul class="contact__items">
            <li>
                <i class="fas fa-envelope"></i>
                <span>poudel.pallavi@yahoo.com</span>
            </li>
            <li>
                <i class="fab fa-instagram"></i>
                <span>phoenix__aarts</span>
            </li>
            <li>
                <i class="fab fa-linkedin"></i>
                <span>https://www.linkedin.com/in/pallavi-poudel-637375204/</span>
            </li>
            <li>
                <i class="fas fa-phone"></i>
                <span>+34 683 171 906</span>
            </li>
        </ul>
    </section>
</footer>
