<section class="intro">
    <div class="intro__content">
        <div class="intro__profile-img">
            <div class="intro__profile-caption">PALLAVI</div>
            <img src="/src/assets/images/profile_picture.jpg" alt="profile">
        </div>
        <p class="intro__description">
            Hello, I'm Pallavi. I am a junior graphics designer, who likes to
            create visually
            soothing designs from ideas. I have been doing personal projects and
            other
            community project works related to graphics design during these
            time. The projects
            were diverse in specialities, from logo design to packaging, banner
            and
            poster to social media advertisements and so on. Not just that, I
            also love to make
            hand-drawn mandala design on paper, wood and other surfaces.
            <br>
            Apart from grahical design, I love working as a photographer by
            creating amazing
            memories for my clients through various styles of photography as
            well as amazing
            post-processing wonders on those photos.
        </p>
    </div>
</section>
