<section class="knowledge">

    <h2 class="knowledge__type text--cursive">Education</h2>
    <ul class="knowledge__item">
        <li class="knowledge__item--university">
            <div>Bachelor's in General Science</div>
            <div>Punjab University, India</div>
            <div>2017-2020</div>
        </li>
        <li class="knowledge__item--institute">
            <div>Graphics Design of Products</div>
            <div>Aspasia, Barcelona</div>
            <div>2023-2024</div>
        </li>
    </ul>

    <h2 class="knowledge__type text--cursive">Skills</h2>
    <ul class="knowledge__item">
        <li class="knowledge__item--adobe">
            <img src="/src/assets/icons/adobe_indesign.svg" alt="indesign">
            <span>Adobe Indesign</span>
        </li>
        <li class="knowledge__item--adobe">
            <img src="/src/assets/icons/adobe_illustrator.svg"
              alt="illustrator">
            <span>Adobe Illustrator</span>
        </li>
        <li class="knowledge__item--adobe">
            <img src="/src/assets/icons/adobe_photoshop.svg" alt="ps">
            <span>Adobe Photoshop</span>
        </li>
    </ul>
</section>
