.testimonials {
    display: flex;
    flex-flow: column wrap;
    padding-bottom: 1rem;
}
.testimonials__items {
    display: flex;
    justify-content: space-evenly;
}

.testimonials__item {
    width: 300px;
    margin: 15px;
    padding: 8px;

    background-color: #f6f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    transition: transform 0.3s ease;
}

.testimonials__item:hover {
    transform: translateY(-5px);
}

.testimonials__text {
    margin-bottom: 8px;
    line-height: 1.6;
    color: #333333;
}

.testimonials__author {
    font-size: 14px;
    font-style: italic;
    color: #666666;
}
