<section class="projects">
    <h2 class="projects__title text--cursive">My Works</h2>
    <div class="project__item">
        <img src="/src/assets/images/swagatam.jpg" alt="swagatam program">
        <span class="project__name">Project Swagatam</span>
        <p>Instagram post and banner images for a 3 day cultural event of
            Nepali residing in Barcelona. This event was organized in Sagrada
            Familia and received attention of local newspapers and television
            stations.
        </p>
    </div>
    <div class="project__item">
        <img src="/src/assets/images/project_nppf.jpg" alt="npff program">
        <span class="project__name">Project NPPF</span>
        <p>Fourth world seminar of one of the biggest political party in Nepal.
            Various political figures and Nepalese ambassadors were invited.
            I designed the banner, poster, certificates, invitation card etc for
            this event using Illustrator Photoshop.
        </p>
    </div>
    </div>
</section>
