<section class="testimonials">
    <h2 class="testimonials text--cursive">Testimonials</h2>
    <div class="testimonials__items">
        <div class="testimonials__item">
            <div class="testimonials__content">
                <p class="testimonials__text">"Pallavi is very innovative with
                    creative ideas and it shows on her work in <i>Swagatam</i>."
                </p>
                <p class="testimonials__author">- Monica Ortega</p>
            </div>
        </div>
        <div class="testimonials__item">
            <div class="testimonials__content">
                <p class="testimonials__text">"We were mindblown by the quality
                    of
                    everything Pallavi producted. Very dedicated to her craft
                    and
                    quick on delivery. Recommened!!</p>
                <p class="testimonials__author">- Bishal Dhungana</p>
            </div>
        </div>
    </div>
</section>
