@use "sass:color";

$font-family-sans-serif: "Verdana", "Lucida Sans", sans-serif;
$font-family-serif: "Georgia", "Times New Roman", serif;

$color-black: #000000;
$color-bg-default: rgb(228, 224, 198);

$portfolio-bg: color.scale($color-bg-default, $lightness: 75%);
$portfolio-font-default: color.scale($color-black, $lightness: 25%);

$maxPageWidth: 800px;
